.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    color: white;
    padding-top: 20px;
}
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-bottom: 1px solid #444;
}
.sidebar a:hover {
    background-color: #007bff;
}
.sidebar .active {
    background-color: #007bff;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.navbar {
    z-index: 1030;
}

table th,
table td {
    text-align: center;
    vertical-align: middle;
}
.upload-box {
            background-color: #f8f9fa;
            border: 2px dashed #007bff;
            padding: 40px;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .upload-box:hover {
            background-color: #e9ecef;
        }
        .upload-box i {
            font-size: 30px;
            color: #007bff;
        }
        .file-name {
            margin-top: 10px;
            font-size: 1rem;
            color: #555;
        }
@media (max-width: 768px) {
    .sidebar {
        width: 0;
        transition: width 0.3s;
    }
    .sidebar.open {
        width: 250px;
    }
    .content {
        margin-left: 0;
    }
    .navbar .toggle-btn {
        display: block;
    }
}
